{{define "head"}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{if .PageTitle}}{{.PageTitle}} - {{end}}{{.Site.Title}}</title>
  <script src="/js/theme.js"></script>
  <script src="/js/code-copy.js" defer></script>
  <script src="/js/toc.js" defer></script>
  <script src="/js/heading-anchors.js" defer></script>
  <script src="/js/note-filters.js" defer></script>
  <script src="/js/page-transitions.js" defer></script>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="alternate" type="application/rss+xml" title="{{.Site.Title}} RSS" href="/rss.xml">
</head>
{{end}}
