{{define "comments"}}
      {{if .Note.CommentEnabled}}
      <section class="post-comments" id="comments" tabindex="-1">
        <div id="giscus"
             data-comment-counts="true"
             data-repo="{{$.Config.Comment.Giscus.Repo}}"
             data-repo-id="{{$.Config.Comment.Giscus.RepoID}}"
             data-category="{{$.Config.Comment.Giscus.Category}}"
             data-category-id="{{$.Config.Comment.Giscus.CategoryID}}"
             data-lang="{{if eq $.Lang "en_US"}}en{{else}}zh-CN{{end}}"
             data-theme-default-light="{{.Assets.Path "/css/components/giscus-default-light.css"}}"
             data-theme-default-dark="{{.Assets.Path "/css/components/giscus-default-dark.css"}}"
             data-theme-warm-light="{{.Assets.Path "/css/components/giscus-warm-light.css"}}"
             data-theme-warm-dark="{{.Assets.Path "/css/components/giscus-warm-dark.css"}}"
             data-path="{{.Note.CommentPath}}"></div>
      </section>
      {{end}}
{{end}}
